html,
body {
    height: 100%;
}
.content-wrapper, .right-side {
    background-color: #fff !important;
}
.navbar-custom {
  background-color: #1e91cc;
  border-color: #1a7caf;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3ba9e2), to(#1e91cc));
  background-image: -webkit-linear-gradient(top, #3ba9e2, 0%, #1e91cc, 100%);
  background-image: -moz-linear-gradient(top, #3ba9e2 0%, #1e91cc 100%);
  background-image: linear-gradient(to bottom, #3ba9e2 0%, #1e91cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3ba9e2', endColorstr='#ff1e91cc', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #1a7caf;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #1a7caf;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #1a7caf;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#1a7caf), to(#209cdc));
  background-image: -webkit-linear-gradient(top, #1a7caf, 0%, #209cdc, 100%);
  background-image: -moz-linear-gradient(top, #1a7caf 0%, #209cdc 100%);
  background-image: linear-gradient(to bottom, #1a7caf 0%, #209cdc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a7caf', endColorstr='#ff209cdc', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #197bad;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #1a7caf;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #1a7caf;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}



.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
/*custom*//
.modal-header
{
	background:#000 !important;
	color:#C0C0C0;
}
.content-wrapper-full
{
	width:100%;
	margin-left:0;
	background:#fff;
}
.main-footer-full
{
	width:100%;
	margin-left:0;
	background:#fff;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 35px;
}


.round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;
    color: #FFF;
    text-align: center;
}
.round.hollow {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #FFF;
    color: #222;
    text-align: center;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
}

.round.round-sm {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
}
.round.round-lg {
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 1.5em;
}
.round.round-slg {
     color: #9d9d9d;
    display: inline-block;
    position: relative;
    width: 72px;
    height: 72px;
    vertical-align: middle;
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;

    font-size: 11px;
}
.round.blue {
    background-color: #3EA6CE;
}

.round.orange {
    background-color: #FF6701;
}

.round.green {
    background-color: #42A129;
}

.round.hollow.blue {
    color: #3EA6CE;
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 0px 3px #3EA6CE;
    -moz-box-shadow: 0px 0px 0px 3px #3EA6CE;
    box-shadow: 0px 0px 0px 3px #3EA6CE;
}

.round.hollow.orange {
    color: #FF6701;
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 0px 3px #FF6701;
    -moz-box-shadow: 0px 0px 0px 3px #FF6701;
    box-shadow: 0px 0px 0px 3px #FF6701;
}

.round.hollow.green {
    color: #42A129;
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 0px 3px #42A129;
    -moz-box-shadow: 0px 0px 0px 3px #42A129;
    box-shadow: 0px 0px 0px 3px #42A129;
}

.document-name
{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: #4f4f4f;
    font-size: 18px;
    font-weight: 400;
    padding-left:20px;
}
.link-title
{

    color: #800040;
    font-size: 15px;
    font-weight: 400;

}
.link-name
{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: #4f4f4f;
    font-size: 15px;
    font-weight: 400;
    padding-left:10px;
}
.link-created
{

    color: #999;
    font-size: 12px;
    font-weight: normal;

}
.link-block em
{

    color: #000;
    font-size: 18px;
    font-weight: bold;

}
.document-qstats
{

    display: block;
    color: #4f4f4f;
    font-size: 12px;
    border:0px solid #C0C0C0;
    padding:20px;
    width:auto;

}
.document-actions-block
{
  font-size: 10px;
  	margin-top:20px;
}
.document-views, .document-button {
    color: #9d9d9d;
    display: inline-block;
    position: relative;
    width: 72px;
    height: 72px;
    vertical-align: middle;
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
}
.document-views em {
    position: absolute;
    top: 12px;
    left: 0;
    display: inline-block;
    font-size: 14pt;
    font-style: normal;
    line-height: 36px;
    width: 72px;
    height: 36px;
    }
.document-views p {
    position: absolute;
    top: 46px;
    left: 0;
    display: block;
    font-size: 8pt;
    line-height: 1em;
    height: 16px;
    width: 72px;
    margin-bottom: 0;
}
.docthumbnail
{
	width:68px;
	height:90px;
	}
.emaildocthumbnail
{
	width:90px;
	height:100px;
	}
/*Steps*/

.process-row {
    display: table-row;
}

.process {
    display: table;
    width: 100%;
    position: relative;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.process-row:before {
    top: 20px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.process-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.process-step:first-child:before,
.process-step:last-child:before {
  position: absolute;
  content: " ";
  background-color: white;
  width: 50%;
  height: 1px;
  top: 20px;
}
.process-step:first-child:before {
  left: -3px;
}
.process-step:last-child:before {
  right: -20px;
}

.process-step p {
    margin-top:10px;
    font-size:10px;

}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
/*endSteps*/
.bordered
{
	border:1px solid #000;
}
.pres-modal-header
{
	background:#0000A0;
	color:#FFF;
}
.pres-modal-header .close {
    color: #cacaca !important;
    opacity: 1;
}


#successRegister .modal-body
{
   background:#55AED5;
   color:#fff;
   background: rgba(122,174,214,1);
background: -moz-linear-gradient(-45deg, rgba(122,174,214,1) 0%, rgba(206,228,242,1) 98%, rgba(206,228,242,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(122,174,214,1)), color-stop(98%, rgba(206,228,242,1)), color-stop(100%, rgba(206,228,242,1)));
background: -webkit-linear-gradient(-45deg, rgba(122,174,214,1) 0%, rgba(206,228,242,1) 98%, rgba(206,228,242,1) 100%);
background: -o-linear-gradient(-45deg, rgba(122,174,214,1) 0%, rgba(206,228,242,1) 98%, rgba(206,228,242,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(122,174,214,1) 0%, rgba(206,228,242,1) 98%, rgba(206,228,242,1) 100%);
background: linear-gradient(135deg, rgba(122,174,214,1) 0%, rgba(206,228,242,1) 98%, rgba(206,228,242,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aaed6', endColorstr='#cee4f2', GradientType=1 );
}
#successRegister .right-part
{
      background: rgba(147,206,222,1);
background: -moz-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
background: -webkit-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -o-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: linear-gradient(135deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}
#successRegister small
{
	font-size:10px;
}
#emailForm label,#editTemplateForm label
{
 color:#727272;
     font-weight: 300;

}
#tplC, #tplR
{
margin:0;
padding:0;
 font-size: 11px;
}
.sidebar-menu a
{
	  font-weight: normal !important;
}

.field-letters-templateid
{
	text-align:left;
	 margin-left: 0 !important;
	 padding-left: 0 !important;
}
.field-letters-templateid .col-md-12
{
	text-align:left;
	 margin-left: 0 !important;
	 padding-left: 0 !important;
}
.field-letters-templateid .col-md-12
{
	text-align:left;
	 margin-left: 0 !important;
	 padding-left: 0 !important;
}
#emailForm .form-control
{
border: 0px none;
box-shadow: none;
background: #EEE none repeat scroll 0% 0%;
border-radius: 4px;
}
.btn-main {
    background-color: #E8643D;
}
.btn-to-visits {
    background-color: #FFF;
    color: #949494;
    padding: 10px 20px;
    border-color:#3652F1;
    font-weight: bold;
}
.btn-search{
 background-color: #81B9BD !important;
     border: 0px none;
    color: #FFF;
    padding: 11px 20px;
    font-size:15px;
}
#emailForm .btn-file,#emailForm .btn-main {
    border: 0px none;
    color: #FFF;
    padding: 10px 20px;
}
#emailForm .btn-file{
 background-color: #81B9BD !important;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
.template-left-col {
    position: absolute;
    top: 51px;
    left: 230px;
    bottom: 0;
    width: 215px;
    background-color: #e8e8e8;
    box-shadow: 0 1px 9px 0 rgba(0,0,0,.33);
    z-index: 1;
    overflow: auto;
    padding:5px;
}
.template-right-col {
    position: absolute;
    top: 51px;
    right: 0px;
    bottom: 0;
    width: 340px;
    background-color: #e8e8e8;
    box-shadow: 0 1px 9px 0 rgba(0,0,0,.33);
    z-index: 1;
    overflow: auto;
    padding:5px;
    padding-top:40px;
}
.user-templates-center
{
	    padding-left: 215px;
	    padding-right: 350px;
}

/*media*/

@media only screen and (max-width:992px) {
	form.emailForm div.form-group, .btn-send, .btn-link, .btn-main, .btn-file {
		margin-left:0;
		float:initial;
		width:100%;
		margin-top:10px !important;
	}
		form.emailForm div.form-group .input-group {
		width:100%;
	}
	.info-box {
		width:100%;
	}
	.sidebar-open .main-sidebar,.sidebar-open .left-side
	{
      width:100% !important;
      text-center
	}
}
@media (max-width: 767px) {
  .main-header {
    position: relative;
   background: #3c8dbc !important;
  }
  .main-header .logo {
    width: 85% !important;
     background: #3c8dbc !important;
     float: left;
  }
  .main-header .navbar {
      width: 15% !important;
       float: right;
  }

}

/*end media*/