.statistic-box-content {
    font-size: 12px;
}

    .statistic-box-content .h4 {
        font-size: 14px;
        font-weight: bold;
        color: #000 !important;
    }

    .statistic-box-content h2 {
        font-size: 20px;
    }

        .statistic-box-content h2 small {
            font-size: 75%;
            color: initial;
        }

    .statistic-box-content .alert {
        margin-bottom: 0px;
    }

.statistic-main-box > .row {
    margin-bottom: 20px;
}

.statistic-box {
    padding: 0px 10px;
}

    .statistic-box .data-box {
        text-align: center;
        font-style: italic;
    }

    .statistic-box .data-span {
        font-weight: bold;
        font-size: 30px;
    }

    .statistic-box td {
        padding: 6px 4px !important;
    }

.all-presentation-box {
    /*margin-top: 40px;
        max-height: 500px;*/
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 10px;
}

.p-img {
    overflow: hidden;
    height: 70px;
    display: block;
}

    .p-img img {
        max-width: 100px;
        /*max-height: 69px;*/
        margin: 0 auto;
        display: table;
        background-color: #FFF;
    }

.p-mess, .p-link {
    min-width: 95px;
}

.p-translation {
    min-width: 35px;
}

.p-time {
    min-width: 70px;
}

.p-slide {
    min-width: 92px;
}

.p-call, .p-question, .p-save {
    min-width: 33px;
}

.datepicker td.day {
    cursor: pointer;
}


.menu-list {
    min-width: 500px;
}

.tSpan {
    display: none;
}

.row.tbl {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

    .row.tbl label, .row.tbl input, .row.tbl select {
        display: table-cell;
        margin-left: 10px;
    }

.statistic-box-content {
    min-height: 200px;
}

.select-date > .form-group > select {
    width: 200px;
    margin-right: 5px;
}

.select-date .input-group.date {
    width: 140px;
    margin-right: 5px;
    margin-left: 5px;
}

.data-simbol {
    color: #BBB;
}


.fbox {
    margin: 20px 0px;
}

.funnel-main-box {
    width: 500px;
    position: relative;
    margin: 0 auto;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
}

.funnel-box {
    height: 70px;
    margin: 0 auto;
    display: table;
    margin-bottom: 3px;
    padding-right: 20px;
    cursor: pointer;
}

    .funnel-box:hover, .convert-box-1:hover ~ div .box-2, .convert-box-1:hover ~ div .box-3,
    .convert-box-2:hover ~ div .box-3, .convert-box-2:hover ~ div .box-4 {
        padding-left: 10px;
    }

.convert-box-1:hover ~ div .box-1, .convert-box-1:hover ~ div .box-4,
.convert-box-2:hover ~ div .box-1, .convert-box-2:hover ~ div .box-2 {
    /*opacity: 0.3;*/
}

    .convert-box-1:hover ~ div .box-1 .funnel-main, .convert-box-1:hover ~ div .box-4 .funnel-main,
    .convert-box-2:hover ~ div .box-1 .funnel-main, .convert-box-2:hover ~ div .box-2 .funnel-main {
        border-top: 70px solid #D2D2D2;
        color: #B9B9B9;
    }

    .convert-box-1:hover ~ div .box-1 .funnel-add, .convert-box-1:hover ~ div .box-4 .funnel-add,
    .convert-box-2:hover ~ div .box-1 .funnel-add, .convert-box-2:hover ~ div .box-2 .funnel-add {
        background-color: #D2D2D2;
        color: #B9B9B9;
    }

.selected {
    padding-left: 20px !important;
}

.funnel-add {
    width: 105px;
    height: 70px;
    float: right;
    -webkit-transform: skew(-16deg);
    -moz-transform: skew(-16deg);
    -o-transform: skew(-16deg);
    -ms-transform: skew(-16deg);
    z-index: 9;
}

.funnel-box .funnel-main {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    float: left;
    position: relative;
    z-index: 9;
}

.funnel-box:nth-of-type(1) .funnel-main {
    width: 260px;
}

.funnel-box:nth-of-type(2) .funnel-main {
    width: 218px;
}

.funnel-box:nth-of-type(3) .funnel-main {
    width: 174px;
}

.funnel-box:nth-of-type(4) .funnel-main {
    width: 132px;
}

.funnel-box.box-1 .funnel-main {
    border-top: 70px solid #ED7D31;
}

.funnel-box.box-2 .funnel-main {
    border-top: 70px solid #B091ED;
}

.funnel-box.box-3 .funnel-main {
    border-top: 70px solid #F0EE03;
}

.funnel-box.box-4 .funnel-main {
    border-top: 70px solid #A9D18E;
}

.funnel-box.box-5 .funnel-main {
    border-top: 70px solid #58AFB5;
}

.funnel-box.box-6 .funnel-main {
    border-top: 70px solid #E44D3E;
}

.funnel-box.box-1 .funnel-add {
    background-color: #FBC8A7;
}

.funnel-box.box-2 .funnel-add {
    background-color: #D7C7F5;
}

.funnel-box.box-3 .funnel-add {
    background-color: #FFFFA2;
}

.funnel-box.box-4 .funnel-add {
    background-color: #DBECD0;
}

.funnel-box.box-5 .funnel-add {
    background-color: #B4D8DB;
}

.funnel-box.box-6 .funnel-add {
    background-color: #EFAFA9;
}

.funnel-box .funnel-main span {
    display: block;
    position: absolute;
    right: 3px;
    bottom: 13px;
    font-size: 30px;
    font-weight: bolder;
}

.funnel-add span {
    display: block;
    -webkit-transform: skew(16deg);
    -moz-transform: skew(16deg);
    -ms-transform: skew(16deg);
    -o-transform: skew(16deg);
    margin-left: 5px;
    opacity: 0.7;
}

.funnel-add .text-box {
    font-size: 14px;
    margin-top: 3px;
}

    .funnel-add .text-box:last-child {
        margin-top: -8px;
        margin-left: 16px;
    }

.funnel-add .value-box {
    font-size: 26px;
    margin-left: 10px;
    margin-top: -4px;
}

.convert-box-1 {
    position: absolute;
    height: 143px;
    width: 135px;
    right: 0;
    top: 73px;
    border-top: 2px solid #D7C7F5;
    border-bottom: 2px solid #FFFFA2;
    cursor: pointer;
}

.convert-box-2 {
    position: absolute;
    height: 143px;
    width: 160px;
    left: 0;
    bottom: 0px;
    border-top: 2px solid #F0EE03;
    border-bottom: 2px solid #A9D18E;
    cursor: pointer;
}

.funnel-main-box .title-box {
    position: absolute;
    font-size: 10px;
    text-align: center;
    top: 10px;
}

.convert-box-1 .title-box {
    left: inherit;
    right: 0;
    width: 100px;
}

.convert-box-2 .title-box {
    left: 0;
    width: 100px;
}

.arrow-box {
    position: absolute;
    width: 4px;
    height: 40px;
    background-color: #7F7F7F;
    bottom: 35px;
    left: 7px;
}

    .arrow-box:after {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid #7F7F7F;
        position: absolute;
        content: "";
        bottom: -10px;
        left: -3px;
    }

.convert-box-1 .pc-main-box {
    position: absolute;
    right: 79px;
    top: 52px;
}

.convert-box-2 .pc-main-box {
    position: absolute;
    left: 20px;
    top: 52px;
}

.b-pc-box {
    position: absolute;
    left: 20px;
    top: 50px;
    font-size: 32px;
}

.l-pc-box {
    position: absolute;
    left: 20px;
    top: 94px;
    font-size: 16px;
}

.convert-box-1 .arrow-box {
    left: inherit;
    right: 88px;
}

.pc-main-box .b-pc-box {
    left: 0;
    top: 0;
}

.pc-main-box .l-pc-box {
    left: 0;
    top: 44px;
    width: 50px;
}

.b-pc-box > span {
    display: table;
    width: 100px;
}

.convert-box-1, .convert-box-2 {
    z-index: 7;
}

.info-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #A8A8A8;
    border-radius: 15px;
}

    .info-icon span {
        font-size: 22px;
        color: #A8A8A8;
        margin-left: 11px;
        margin-top: -2px;
        display: block;
    }

.row.text-center.title {
    font-size: 22px;
    color: #595959;
}

.info-box {
    width: 100%;
    min-height: 170px;
    min-height: 170px;
    border: 2px solid #A8A8A8;
    margin-top: 5px;
    padding: 10px;
}

#mess .info-box {
    height: 275px;
    overflow: auto;
    padding-right: 16px;
}

[data-funnel="show"] {
    display: none;
}

[data-funnel-id="def"] {
    display: block;
}

.situation-box {
    display: none;
}

.help-box {
    text-align: justify;
    font-size: 12px;
}

    .help-box h4 {
        text-align: center;
    }

    .help-box dt {
        text-align: left;
    }

.situation-box.select-help {
    display: block;
}

#rankedMail td, #rankedMail span,
#rankedLink td, #rankedLink span {
    font-style: normal !important;
}

#rankedMail tbody td, #rankedMail tbody span,
#rankedLink tbody td, #rankedLink tbody span {
    white-space: nowrap;
}

.tables {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #CCC;
    margin-bottom: 20px;
}

.t_progress {
}

    .t_progress tbody tr:nth-child(2n+1),
    .t1 tbody tr:nth-child(2n+1),
    .t2 tbody tr:nth-child(2n+1) {
        background-color: #F5F5F5;
    }

    .t_progress tbody tr:nth-child(2n),
    .t1 tbody tr:nth-child(2n),
    .t2 tbody tr:nth-child(2n) {
        background-color: #FFFFFF;
    }

    .t_progress tbody tr td:nth-child(1),
    .t1 tbody tr td:nth-child(1),
    .t2 tbody tr td:nth-child(1) {
        width: 1px;
        font-size: 10px;
    }

    .t_progress tbody tr td:nth-child(2),
    .t1 tbody tr td:nth-child(2),
    .t2 tbody tr td:nth-child(2) {
        font-weight: bolder;
    }

    .t_progress tbody tr td:nth-child(2) {
        text-align: right;
    }

.t1 tbody tr td:nth-child(2),
.t2 tbody tr td:nth-child(2) {
    text-align: right;
}

.t_progress tr td:nth-child(3),
.t2 tr td:nth-child(3) {
    width: 100% !important;
    position: relative;
    padding-right: 40px !important;
}

.t_progress tfoot tr td:nth-child(3),
.t2 tfoot tr td:nth-child(3) {
    padding-top: 0px !important;
}

.t_progress tbody tr td:nth-child(3) > span,
.t2 tbody tr td:nth-child(3) > span {
    /*width: 95%;*/
    height: 14px;
    background-color: #67C3CB;
    display: block;
    margin-top: 2px;
    position: relative;
}

.t_progress tbody tr td.min > span,
.t2 tbody tr td.min > span {
    background-color: #F88135;
}

.t_progress tbody tr td:nth-child(3) > span:after,
.t2 tbody tr td:nth-child(3) > span:after {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 5px solid #67C3CB;
    content: "";
    position: absolute;
}

.t_progress tbody tr td:nth-child(3) > span:after {
    margin-left: 100%;
}

.t2 tbody tr td:nth-child(3) > span:after {
    margin-left: 50%;
}

.t_progress tbody tr td.min > span:after,
.t2 tbody tr td.min > span:after {
    border-left: 5px solid #F88135;
}

.t_progress tbody tr td:nth-child(3) > span > span,
.t2 tbody tr td:nth-child(3) > span > span {
    position: absolute;
}

.t_progress tbody tr td:nth-child(3) > span > span {
    font-weight: bolder;
    right: -30px;
    top: -2px;
}

.t2 tbody tr td:nth-child(3) > span > span {
    right: -35px;
    top: 0px;
}

.t_progress tfoot tr td {
    border-top: 1px solid #E3E3E3;
}

    .t_progress tfoot tr td:nth-child(3) .strich {
        border-right: 1px solid #E3E3E3;
        width: 10%;
        display: block;
        height: 5px;
        float: left;
        margin-top: -1px;
    }

    .t_progress tfoot tr td:nth-child(3) .count {
        width: 20%;
        display: block;
        height: 5px;
        float: left;
        margin-top: -1px;
        font-size: 10px;
        color: #A5A5A5;
        text-align: left;
    }

        .t_progress tfoot tr td:nth-child(3) .count:last-child {
            position: absolute;
            position: absolute;
            right: 0;
            text-align: right;
            top: 5px;
        }

.t1 tr td:nth-child(3),
.t2 tr td:nth-child(3),
.t1 tr td:nth-child(4),
.t2 tr td:nth-child(4),
.t1 tr td:nth-child(5),
.t2 tr td:nth-child(5) {
    width: 33%;
    text-align: center;
    white-space: nowrap;
    min-width: 90px;
    max-width: 400px;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
}

.t1 tbody, .t2 tbody {
    border-bottom: 1px solid #E3E3E3;
}


.t1 tr td small, .t2 tr td small {
    font-size: 100%;
    font-weight: normal;
    color: gray;
}

#rankedLink .t1 tr td:nth-child(3),
#rankedLink .t1 tr td:nth-child(4) {
    width: 50%;
}

.t1 .red, .t2 .red {
    background-color: #F88135;
}

.t1 .green, .t2 .green {
    background-color: #67C3CB;
}

.t_progress tr td:nth-child(2) {
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
}

.half-box {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
    height: 40px;
    min-width: 320px;
}

    .half-box:first-child {
        margin-top: 10px;
        height: 35px;
    }

.form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    margin-bottom: 15px;
}

.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
}

li[typeli=ranked] {
    display: none;
}

.helps-box {
    color: gray;
}

thead span {
    display: inline-block;
    text-align: center;
}

span.sort-desc {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 10px solid #F88135;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

@media (max-width: 850px) {
    .t1 tr td:nth-child(3),
    .t2 tr td:nth-child(3),
    .t1 tr td:nth-child(4),
    .t2 tr td:nth-child(4),
    .t1 tr td:nth-child(5),
    .t2 tr td:nth-child(5) {
        white-space: initial;
    }

    .funnel-main-box {
        width: 100%;
        max-width: 500px;
    }

    .funnel-box {
        padding-right: 15px;
    }

        .funnel-box .funnel-main {
            border-right: 0px;
        }

    .funnel-add {
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -o-transform: skew(0deg);
        -ms-transform: skew(0deg);
        border-right: 20px solid transparent;
        margin-left: 5px;
        position: relative;
    }

        .funnel-add span {
            position: absolute;
            top: -70px;
            display: block;
            left: 8px;
            margin: 0px;
            -webkit-transform: skew(0deg);
            -moz-transform: skew(0deg);
            -o-transform: skew(0deg);
            -ms-transform: skew(0deg);
        }

        .funnel-add .value-box {
            top: -49px;
            left: -5px;
        }

    .funnel-box:nth-child(1) .funnel-main {
        width: 140px;
    }

    .funnel-box:nth-child(2) .funnel-main {
        width: 120px;
    }

    .funnel-box:nth-child(3) .funnel-main {
        width: 100px;
    }

    .funnel-box:nth-child(4) .funnel-main {
        width: 80px;
    }

    .funnel-box .funnel-add {
        background-color: transparent !important;
    }

    .funnel-box:nth-child(1) .funnel-add {
        width: 145px;
    }

    .funnel-box:nth-child(2) .funnel-add {
        width: 125px;
    }

    .funnel-box:nth-child(3) .funnel-add {
        width: 105px;
    }

    .funnel-box:nth-child(4) .funnel-add {
        width: 85px;
    }

    .funnel-box.box-1 .funnel-add {
        border-top: 70px solid #FBC8A7;
    }

    .funnel-box.box-2 .funnel-add {
        border-top: 70px solid #D7C7F5;
    }

    .funnel-box.box-3 .funnel-add {
        border-top: 70px solid #FFFFA2;
    }

    .funnel-box.box-4 .funnel-add {
        border-top: 70px solid #DBECD0;
    }

    .funnel-box.box-5 .funnel-add {
        border-top: 70px solid #B4D8DB;
    }

    .funnel-box.box-6 .funnel-add {
        border-top: 70px solid #EEB1AB;
    }

    .funnel-add .text-box:last-child {
        margin: 0px;
        left: 6px;
    }

    .funnel-box.box-4 .funnel-add span:first-child {
        display: none;
    }

    .convert-box-1, .convert-box-2 {
        width: 50%;
    }

    .convert-box-1 {
        margin-right: -5px;
    }

    .convert-box-2 {
        margin-left: -13px;
    }

    .funnel-box.box-3 .text-box:last-child {
        top: -26px;
    }

    .funnel-box.box-3 .text-box:first-child {
        left: 6px;
    }
}

@media (max-width: 550px) {
    .title-box, .l-pc-box {
        display: none;
    }

    .arrow-box {
        top: 5px;
        height: 118px;
    }

    .convert-box-1 .arrow-box {
        right: 5px;
    }

    .convert-box-2 .arrow-box {
        left: 5px;
    }

    .b-pc-box {
        top: 36px;
    }

    .pc-span {
        display: table;
        margin: 0 auto;
        font-size: 22px;
    }

    .convert-box-1 .pc-main-box {
        right: 53px;
        top: 33px;
    }

    .convert-box-2 .pc-main-box {
        top: 33px;
    }

    .funnel-add .text-box {
        /*font-size: 12px;*/
    }

    .funnel-add .value-box {
        margin-left: 13px;
    }
}

@media (max-width: 460px) {
    .funnel-main-box {
        width: 330px;
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        margin-left: -160px;
        margin-top: -15px;
    }

    .cross-box {
        padding-left: 50%;
    }

        .cross-box .row.text-center {
            width: 200px;
            margin-left: -100px;
        }
}

@media (max-width: 380px) {
    .info-icon {
        display: none;
    }
}
