html,
body {
    height: 100%;
    background:#444;
}
.main_content
{
	margin-top:50px;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}
.call-btn-cont
{
	position:absolute;
	right:30px;
	top:79px;
		width:230px;

}
.blue-circle-button {
	box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
	border: .5em solid #00BFFF;
	font-size: 1em;
	line-height: 1.1em;
	color: #ffffff;
	background-color: #00BFFF;
	margin: auto;
	border-radius: 50%;
	width:65px;
	height:65px;
	position: relative;
	z-index: 9999;
}
.blue-circle-button:hover {
	color:#ffffff;
    background-color: #00BFFF;
	text-decoration: none;
	border-color: #00CCFF;

}
.blue-circle-button:visited {
	color:#ffffff;
    background-color: #00BFFF;
	text-decoration: none;

}
.blue-circle-link-greater-than {
    font-size: 1em;
}
.carousel-control {
  top:50%;
  width:auto;
  height:1em;
  background:transparent;
}
.carousel-control .glyphicon-chevron-left {
  position:static;
  display:block;
  width:auto;
  margin-left:-50px;
}
.carousel-control .glyphicon-chevron-right  {
  position:static;
  display:block;
  width:auto;
  margin-right:-70px;
}
.carousel-control .glyphicon-chevron-left:before {
  margin-left:-50px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

    .carousel {
  /*height: 500px; OLD*/
  /*margin-bottom: 60px; OLD*/

  /*max-width:1200px; THIS IS OPTIONAL (ANY SIZE YOU LIKE)*/
  margin:0 auto 60px;
}
.carousel-inner
{
	    width:100%;
	    border:0px solid #fff;
}
.carousel .item {
    /*height: 500px; OLD*/
    /*background-color: #777; OLD*/

    width:100%;
    height:auto;

}
.carousel-inner > .item > img {

    width:auto;
    height:100%;
}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

.pres-modal-header
{
	background:#0000A0;
	color:#FFF;
}

.pres-modal-header .close {
    color: #cacaca !important;
    opacity: 1;
}
#dragpointer
{
	z-index:1000,
	position: absolute;
}
.active-point
{
	color:#0000FF;

}
.tooltip {
	font-size: 1em;
}

/*chat*/
#chatPop
{
width:270px;
top: 64px;
left: -40px; display: none; z-index: 1050; padding-top: 0px; padding-bottom: 0px;

}

#main-chat
{
 display: none;
}
.manager-off.chat-hide {
    height: 40px;
}
.chat-bottom {
    bottom: 0;
}
.chat {
    display: block;
    position: fixed;
    right: 20px;
    width: 260px;
    border-radius: 5px 5px 0 0;
    background-color: #eee;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.33);
}
.manager-off {
    height: 180px;
}
.transform {
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -moz-transition-property: height,opacity;
    -o-transition-property: height,opacity;
    -webkit-transition-property: height,opacity;
    transition-property: height,opacity;
}

.chat-header {
    background-color: #fc6437;
    width: 260px;
    height: 40px;
    display: table;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}


.chat-header span {
    text-align: center;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    font-size: 14px;
    font-weight: 100;
}

.chat-header .close-btn {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    line-height: .8;
    top: 14px;
    right: 12px;
    color: #fff;
}
.chat-container {
    background-color: #eee;
    position: relative;
    font-size:11px;
}
.main-chat-window {
    position: relative;
    padding:10px;
}
.chat-container .h3, h3 {
    font-size: 18px;
    margin:0;
    padding:0;
}